<div class="post-single">
    <div class="post-thumbnail"><img src="{{post.featuredImage}}" alt="..." class="img-fluid"></div>
    <div class="post-details">
      <div class="post-meta d-flex justify-content-between">
        <div class="category"><a href="#">{{post.category}}</a></div>
            <!-- <a href="#">Business</a><a href="#">Financial</a></div> -->
      </div>
      <h1>{{post.title}}<a routerLink="#"><i class="fa fa-bookmark-o"></i></a></h1>
      <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
          <div class="avatar"><img src="/assets/img/user.svg" alt="..." class="img-fluid"></div>
          <div class="title"><span>{{post.postedBy}}</span></div></a>
        <div class="d-flex align-items-center flex-wrap">       
          <div class="date"><i class="icon-clock"></i>{{post.postDate}}</div>
          <div class="views"><i class="icon-eye"></i>{{post.views}}</div>
          <div class="comments meta-last"><i class="icon-comment"></i>{{post.comments.length}}</div>
        </div>
      </div>
      <div class="post-body">
        <p>{{post.post}}</p>
      </div>
      <div class="post-tags"><a routerLink="#" class="tag" *ngFor = "let tag of post.tags">{{tag}}</a>
        <!-- <a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a> -->
    </div>
      <div class="post-comments">
        <header>
          <h3 class="h6">Post Comments<span class="no-of-comments">{{post.comments.length}}</span></h3>
        </header>
        <div class="comment" *ngFor = "let comments of post.comments">
          <div class="comment-header d-flex justify-content-between" >
            <div class="user d-flex align-items-center">
              <div class="image"><img src="/assets/img/user.svg" alt="..." class="img-fluid rounded-circle"></div>
              <div class="title"><strong>{{comments.author}}</strong><span class="date">{{comments.date}}</span></div>
            </div>
          </div>
          <div class="comment-body">
            <p>{{comments.comment}}</p>
          </div>
        </div>
    </div>
  </div>