<!-- *********************************************************************************
* BTI425 – Assignment 04
* I declare that this assignment is my own work in accordance with Seneca Academic Policy. No part of this
* assignment has been copied manually or electronically from any other source (including web sites) or
* distributed to other students.
*
* Name:  Sophia Huynh        Student ID: 118448208          Date: April 9, 2022
*
******************************************************************************** -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>